{% extends 'base.html' %}
{% load static %}

{% block extra_links %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css" media="all">
{% endblock %}

{% block content %}
    <section id="welcome-block">
        <div class="welcome-interactive">
            <div class="welcome-call">
                <p>Установка современных систем безопасности</p><br>
                <a id="button" href="#">Связаться</a>
            </div>
            <div class="welcome-image">
                <img src="{% static 'images/welcome.jpg' %}" alt="">
            </div>
        </div>
        <div class="welcome-buttons">
            <a id="button" href="#about_us">О нас</a>
            <a id="button" href="#our_partners">Наши партнеры</a>
            <a id="button" href="#our_customers">Наши клиенты</a>
            <a id="button" href="#contact_us">Контакты</a>
        </div>
    </section>

    <section id="about_us">
        <div class="short-info">
            <h1>О нас</h1>
            <p>Наша компания работает на рынке слаботочных
систем уже более 10 лет</p>
        </div>

        <div class="about-item" id="first">
            <div class="text">Основное направление деятельности
нашей компании - это монтаж систем
видеонаблюдения, а также продажа
оборудования систем видеонаблюдения.</div>
            <div class="image">
                <img src="{% static 'images/camera-installation.jpg' %}" alt="">
            </div>
        </div>

        <div class="about-item" id="second">
            <div class="text">Мы используем и реализуем только
cовременные системы видеонаблюдения:
видеокамеры, мониторы,
панели управления и пр.</div>
            <div class="image">
                <img src="{% static 'images/modern-security.jpg' %}" alt="">
            </div>
        </div>

        <div class="about-item" id="third">
            <div class="text">Мы сотрудничаем с коммерческими и
некоммерческими организациями, работаем с
физическими лицами, и обслуживаем
объекты любого масштаба: от дома или
квартиры до крупнейшего предприятия.</div>
            <div class="image">
                <img src="{% static 'images/handshake.jpg' %}" alt="">
            </div>
        </div>

    </section>

    <section id="our_partners">
        <div class="short-info">
            <h1>Наши партнеры</h1>
            <p>Мы сотрудничаем только с проверенными поставщиками и производителями, чтобы вы получали самое лучшее!</p>
        </div>
        <div class="partners-cards">
            {% for i in partners %}
                <div class="brand-card">
                    <a href="store/?brand={{ i.brand }}">
                        {% if i.brand_logo %}
                            <img src="{{ i.brand_logo.url }}" alt="">
                        {% else %}
                            <p>{{ i.brand }}</p>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>

    <section id="our_customers">
        <div class="short-info">
            <h1>Наши клиенты</h1>
            <p>Нам доверяют как крупные государственные компании, так и небольшие частные предприятия</p>
        </div>
        <div class="customer-cards">
            {% for i in customers %}
                <div class="customer-card">
                    <div class="inner">
                        <div class="descr">{{ i.company_description }}</div>
                        <div class="front">
                            {% if i.company_logo %}
                                <img id="logo" src="{{ i.company_logo.url }}" alt="">
                            {% else %}
                            {% endif %}
                            <p id="company_name">{{ i.company_name }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
</section>

<section id="contact_us">
    <div class="short-info">
        <h1>Контакты</h1>
    <div class="data">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1209235.0091478569!2d46.701689009453254!3d53.70423891483013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41429c334d5602b9%3A0x102a3a583f198a0!2z0KPQu9GM0Y_QvdC-0LLRgdC60LDRjyDQvtCx0Lsu!5e0!3m2!1sru!2sru!4v1688833331684!5m2!1sru!2sru"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="text">
            <p>Большинство работ мы проводим по Ульяновской области, но также возможен выезд по ближайшему поволжью.
Для уточнения можете связаться любым удобным способом:</p>
            <p id="phone">Тел: 8(***)*** **-**</p>
            <p id="request">Или оставить заявку:</p>
            <form method="POST" action="">
                {% csrf_token %}
                {{ feedback_form }}
                <input type="submit" value="Отправить">
            </form>
        </div>
    </div>
</section>

{%  endblock %}