html {
    --clr1: #838383;
    /*--clr2: #efefef;*/
    /*--clr3: #333;*/
    /*--clr4: tomato;*/
    --clr2: #ffffff;
    --clr3: #F5F5F5;
    --clr4: #FF4747;
    --border-radius: 7px;
    --header-radius: 43px;
    --text-radius: 50em;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background: var(--clr1);
    padding: 50px 0 0 0;
    margin: 0 10px;
}
body *, body :after, body :before {
    box-sizing: border-box;
}

.transparent {
    background: transparent !important;
}

.wrap {
    display: flex; /*---ADDED---*/
    max-width: 960px;
    min-width: 360px;
    margin: 0 auto;
    /*margin-left: 20px;*/
    /*margin-right: auto;*/
    position: relative;
    flex-direction: column; /*---ADDED---*/
    align-items: center; /*---ADDED---*/
}

.wrap.sticky {
    margin-top: 150px;
    /* set height from header */
}

.fluid .wrap {
    max-width: 100% !important;
}

header {
    background: var(--clr2);
    /*padding: 50px;*/
    border-radius: var(--header-radius);
    z-index: 99;
    position: sticky;
    width: 110%;
    height: 150px;
    top: 15px;
    transition: 0.7s;
    box-shadow: 0 11px 50px -10px rgba(0, 0, 0, 0.25);
}

.header_hidden {
    transform: translateY(-150%);
}

.wrap.sticky header {
    background: var(--clr2);
    padding: 50px;
    position: fixed;
    top: 0;
    max-width: 960px;
    width: calc(100% - 20px);
    min-width: 360px;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.fluid .wrap.sticky header {
    max-width: 100% !important;
}

header .logo {
    position: absolute;
    left: 50px;
}

header .logo a {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 120px;
    height: 33px;
    flex-shrink: 0;
}

header .logo #title {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.6px;
    /*margin-bottom: 5px;*/
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul{
    width: 340px;
    margin: 0;
    justify-content: space-around;
    display: flex;
    padding: 0;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 800;
}

header nav ul li span {
    padding: 8px;
    flex-shrink: 0;
    border-radius: 23px;
    background: #f3f3f3;
}

header nav ul li a:hover {
    color: var(--clr4);
}

section {
    background: var(--clr2);
    padding: 100px 50px;
    width: 100%;
    border-radius: var(--border-radius);
    position: relative;
    margin: 10px 0 0 0;
}


section.contentbox .headline {
    margin: 10px 0 !important;
    max-width: 65%;
}
section.contentbox .text {
    margin: 10px 0 !important;
    max-width: 100%;
}
section.contentbox .button {
    margin: 10px 0 !important;
}

footer {
    padding: 50px;
    width: 100%;
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
    position: relative;
    margin: 10px 0 0 0;
}
footer .logo {
    background: var(--clr2);
    width: 50px;
    height: 50px;
    border-radius: var(--text-radius);
}
footer nav {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50px, -50%);
}
footer nav ul li {
    display: inline-block;
    list-style: none;
    width: 60px;
    height: 10px;
    background: var(--clr2);
    border-radius: var(--text-radius);
}

@media (max-width: 990px) {
    .wrapper {
        padding: 0 10px 100px 10px !important;
    }
    .header{
        width: 100%;
    }

}

body, html {
    max-width: 100%;
    /*overflow-x: hidden;*/
}

body {
    background: var(--clr4);
    text-rendering: optimizelegibility;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.wrapper {
    transform-origin: center bottom 0px;
    transition: all 0.5s ease 0s;
    box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.5);
    background: var(--clr3);
    padding: 50px 50px 100px 50px;
}

body.tight .wrapper {
    transform: translateY(-60px) scale(0.9);
    cursor: pointer;
}

.footer {
    width: 90%;
    max-width: 1440px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 50px;
}

.pop-up {
    width:100%;
    min-height:100%;
    position: fixed;
    z-index: 9999;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /*top:0;*/
}

#contact-form-pop-up {
    background: white;
    max-width: 35%;
    border-radius: var(--header-radius);
    padding-bottom: 50px;
}

#contact-form-pop-up span{
    position: absolute;
    right: 50px;
    font-size: 40px;
    top: 50px;
}

#contact-form-pop-up form {
    display: flex;
    flex-direction: column;
}

#contact-form-pop-up form input{
    font-size: 17px;
}


form input, form textarea {
    padding: 10px;
    resize: none;
    background: var(--clr3);
    border-radius: var(--border-radius);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    border-width: 0;
    margin-bottom: 10px;
}

form input[type='submit'] {
    padding: 10px;
    max-width: min-content;
    margin-top: 10px;
    background: var(--clr4);
    border-radius: var(--border-radius);
    color: white;
    cursor: pointer;
    font-weight: 700;
    border-width: 0;
}

footer .main-content{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.our-links {
    width: 33%;
}
.developer {
    width: 33%;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
}
.copyright span {
    font-size: 20px;
}

.copyright p {
    font-size: 23px;
}

footer .main-content a{
    color: white;
}

footer .main-content a:hover{
    color: lightgray;
}

@media (max-width: 990px) {
    #contact-form-pop-up {
        max-width: 60%;
    }
    .our-links svg {
        font-size: 14px;
        width: auto;
    }
    .our-links {
        /*font-size: 14px;*/
        width: min-content;
    }
    .developer {
        font-size: 14px;
        width: auto;
    }
    .copyright {
        font-size: 14px;
        width: auto;
    }

}