section.cards {
    margin-top: 50px;
    padding: 0;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section.cards .card {
    background: var(--clr2);
    width: calc(33.6% - 10px);
    margin-bottom: 10px;
    /*margin: 5px;*/
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

section.cards .card .content {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

section.cards .card img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
}

.text{
    white-space: pre-wrap;
    /*font-size: 20px;*/
    /*margin: 50px;*/
}

@media (max-width: 690px) {
    section.cards .card {
        width: 100%;
        display: flex;
        margin: 10px 0 0 0 !important;
        padding: 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    section.cards .card img {
        width: 30%;
        height: auto;
        border-radius: var(--border-radius) var(--border-radius) 0px 0px;
    }
    section.cards .card .content {
        width: 100%;
        padding: 10px;
    }
    /*.image{*/
    /*    width: 100%;*/
    /*    height: auto;*/
    /*}*/
}

section.categories {
    background: none;
    /*border-radius: var(--border-radius);*/
    margin-top: 50px;
    padding: 0;
    /*background: transparent;*/
    /*display: flex;*/
}

.cat_data{
    background: var(--clr2);
    border-radius: var(--border-radius);
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

section.categories .category_block {
    position: relative;
    /*height: calc();*/
    background: var(--clr1);
    border-radius: var(--border-radius);
    padding: 10px;
    margin: 10px;
    left: 0;
}

#category_head{
    position: relative;
    padding-top: 5px;
    /*bottom: 50px;*/
    background: var(--clr2);
    border-radius: var(--border-radius);
    background-size: cover;
    height: 45px;
    width: 130px;
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    bottom: -10px;

}

.left-side-bar {
    position: absolute;
    padding: 10px;
    left: -230px;
    margin-left: auto;
    width: 210px;
    height: min-content;
    margin-top: 210px;
    margin-bottom: 200px;
}
.wrapper{
    min-height: 2000px;
}

input[type="number" i]{
    max-width: 48%;
}

@media (max-width: 1500px){
    .left-side-bar {
        position: relative;
        margin-top: 50px;
        width: 100%;
        left: 0;
    }

}

/*.form {*/
/*    padding: 0;*/
/*}*/