section.cards {
    margin-top: 20px;
    padding: 0;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section.cards .card {
    background: var(--clr2);
    width: calc(33.6% - 10px);
    height: 595px;
    margin-bottom: 10px;
    /*margin: 5px;*/
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

section.cards .card:hover{
    transform: scale(101%);
}

section.cards .card .content {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

section.cards .card img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
}

.text{
    white-space: pre-wrap;
    background: var(--clr3);
    /*font-size: 20px;*/
    /*margin: 50px;*/
}

section.categories {
    background: none;
    /*border-radius: var(--border-radius);*/
    margin-top: 50px;
    padding: 0;
    /*background: transparent;*/
    /*display: flex;*/
}

.cat_data{
    background: var(--clr2);
    border-radius: var(--border-radius);
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

section.categories .category_block {
    position: relative;
    /*height: calc();*/
    background: var(--clr3);
    border-radius: var(--border-radius);
    padding: 10px;
    margin: 10px;
    left: 0;
}

section.categories .category_block:hover {
    transform: scale(105%);
}

#category_head{
    position: relative;
    padding-top: 5px;
    /*bottom: 50px;*/
    background: var(--clr2);
    border-radius: var(--border-radius);
    background-size: cover;
    height: 45px;
    width: 130px;
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    bottom: -10px;

}

.left-side-bar {
    position: absolute;
    padding: 10px;
    left: -270px;
    margin-left: auto;
    width: 250px;
    height: min-content;
}
.wrapper{
    min-height: 2000px;
}

input[type="number"] {
    background-color: var(--clr2);
    vertical-align: top;
    padding: 0;
    height: 30px;
    text-indent: 10px;
    width: 47%;
    border: none;
    font-size: 14px;
    border-radius: 3px;
}

input[type="number"]:focus {
	outline: 2px solid tomato;
}

input[type="checkbox"] {
    z-index: 9999;
}

@media (max-width: 1500px){
    .left-side-bar {
        position: relative;
        margin-top: 50px;
        width: 100%;
        left: 0;
    }

}

.drop-down-data {
    display: none;
}

.drop-down-data #id_brand {
    display: block;
}

.label {
    font-weight: bold;
}

.label:hover{
    color: tomato;
}

.item {
    margin: 10px 10px;
    padding: 7px;
    background-color: var(--clr3);
    border-radius: var(--border-radius);
}

.item:hover {
    /*background-color: lightgray;*/
    transform: scale(105%);
}

.item:hover .drop-down-data{
    color: black;
}

.item:hover #price{
    color: black;
}

.price-field {
    margin: 5px 0;
    display: flex;
    justify-content: space-around;
}

.my-button {
    /* margin: 0 5px 10px 5px; */
    width: 103px;
    background-color: tomato;
    color: var(--clr2);
    border-width: 0;
    border-radius: var(--border-radius);
    /*height: 30px;*/
    font-weight: 600;
    font-size: 15px;
    padding: 10px;
}

.my-button:hover{
    transform: scale(105%);
}

#dismiss{
    background-color: lightslategray;
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin: 0px 15px 0px 10px;
}

.product-image {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    
}

.filters {
    display: none;
}

.left-side-bar{
    margin-top: 20px;
    display: block;
}

.scroll-data {
    max-height: 515px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.scroll-data::-webkit-scrollbar {
    width: 5px;
}

.scroll-data::-webkit-scrollbar-track {
    background: var(--clr3);
    padding: 5px;
    display: none;
    border-radius: 10px;
}

.scroll-data::-webkit-scrollbar-thumb {
  background: var(--clr1);
  border-radius: 20px;
}

.bottom-data {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

}

.bottom-data a {
    background: var(--clr4);
    border-radius: var(--border-radius);
    color: white;
    line-height: 0;
    font-weight: 700;
    padding: 7px 10px;
}

@media (max-width: 990px), (max-width: 1500px){
    .left-side-bar {
        position: absolute;
        display: none;
        z-index: 999;
        margin-bottom: 0;
        width: calc(33.6% - 10px);
        min-height: 595px;
        margin-top: 20px;
    }

    .header {
        z-index: 9999;
    }

    .filters {
        margin-top: 20px;
        display: block;
        cursor: pointer;
        background: white;
        border-radius: var(--border-radius);
        width: 48px;
        height: 48px;
    }

    section.cards {
        margin-top: 20px;
    }

    .left-side-bar .my-button {
        width: 50%;
    }
}

section.sub-header {
    border-radius: var(--header-radius);
    top: 175px;
    position: sticky;
    height: 55px;
    padding: 0;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 10px;
    z-index: 9999;
    transition: 0.5s;
    box-shadow: 0 11px 50px -10px rgba(0, 0, 0, 0.25);

}

.search-field{
    border-radius: var(--header-radius);
    padding: 5px 10px;
    margin: 0 3px;
    background-color: var(--clr3);
}

.search-field input{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.search-field input:focus{
    outline: none;
    outline-width: 0;
}

.search-field input:-moz-focusring{
    border-width: 0;
}

.search-field input::-webkit-input-placeholder{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.search-field input:-ms-input-placeholder {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 17px; 
}
  
.search-field input:-moz-placeholder {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.search-field form{
    display: flex;
    align-items: center;
}

.search-field span{
    font-size: 25px;
    font-weight: 900;
    font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48
}

.search-field span:hover{
    color: var(--clr4);
    cursor: pointer;
}

.sort-field{
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    /* right: -200px; */
    align-items: center;
}

.selected{
    /* top: 10px;
    position: absolute; */
    margin-left: 20px;
    z-index: 999;
    width: 175px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.selected span{
    font-size: 30px;
    transition: all 0.4s;
}

.selected:hover {
    color: var(--clr4);
}

.sort_form{
    background-color: var(--clr2);
    padding: 10px;
    position: absolute;
    top: 20px;
    right: 0;
    padding-top: 35px;
    border-radius: var(--border-radius);
    z-index: 99;
    width: 195px;
    box-shadow: 0 6px 5px -5px rgba(0, 0, 0, 0.25);
    display: none;
}

.rotate_arrow {
    transform: rotate(180deg);
}

#id_sort_type input[type="radio"]{
    display: none;
}

#id_sort_type label{
    line-height: 30px;
    cursor: pointer;
}

#id_sort_type label:hover {
    color: var(--clr4);
}
