{% extends 'base.html' %}
{% load static %}
{% block extra_links %}
    <link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock %}
{% block title %}
    <title>{{product.brand}} {{product.model}}</title>
{% endblock %}
{% block description %}
    <meta name="description" content="{{product.brand}} {{product.model}} {{ product.description }}"/>
{% endblock %}
{% block content %}
    <div class="main-card">
        <a class="back-button" href="javascript:history.back()"><span class="material-symbols-outlined" style="font-size: 30px;">
            arrow_back_ios
            </span><p style="margin-top:2px">Назад</p></a>
        <div class="main-block">
            <div class="images-block">
                {% if product.image %}
                    <div class="product-image">
                        <img src="{{ product.image.url }}" alt="">
                    </div>
                {% else %}
                    <div class="product-image">
                        <img src="{% static 'images/empty.jpg' %}">
                    </div>
                {% endif %}
                <div class="extra">
                    {% if extra_images %}
                        <img src="{{ product.image.url }}" alt="">
                        {% for image in extra_images %}
                            <img src="{{ image.extra_photo.url }}" alt="">
                            <!-- <p>{{ image }}</p> -->
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="content">
                <div class="info">
                    <div class="brand"><p>{{product.brand}}</p></div>
                    <div class="model"><p>{{product.model}}</p></div>
                </div>
                <div class="bottom-data">
                    <div>
                        <a href="javascript:PopUpShow('{{product.brand}} {{product.model}}')">Заказать</a>
                    </div>
                    <div class="price">
                        {% if product.sale %}
                            <p class="new-price">{{ product.sale }} ₽</p>
                            <s class="old-price">{{ product.price }} ₽</s>
                        {%  else %}
                            <p>{{ product.price }} ₽</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <h2>Описание:</h2>
        <div class="description-block">
            <div class="text">
                <p>{{ product.description }}</p>
            </div>
        </div>
        <h2>Характеристики:</h2>
        <div class="props-block">
            <div class="text">
                <table cellspacing="0" cellpadding="0">
                    {% for i in properties %}
                        <tr class="{% cycle 'odd' 'even' %}">
                            <td class="prop-name">{{ i.property_name }}: </td>
                            <td class="prop-value">{{ i.value }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}