{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Магазин</title>
{% endblock %}

{% block extra_links %}
<link rel="stylesheet" href="{% static 'css/product_card.css' %}">
{% endblock %}

{% block content %}
{#{% if form %}#}
{#    <section class="form">#}
{#        {{ form }}#}
{#    </section>#}
{#{% endif %}#}

<section class="categories">
    <div class="headline" id="category_head">
        Категории
    </div>
    <div class="cat_data">
        {% for cat in categories %}
            {% if forloop.first %}
                <a href="{% url 'base_store' %}">
                    <div class="category_block">
                        Все
                    </div>
                </a>
            {% endif %}
            <a href="{% url 'cat_store' cat.id %}">
                <div class="category_block">
                    {{ cat.category_name }}
                </div>
            </a>
        {% endfor %}
    </div>
</section>

<section class="left-side-bar">
    {% if form %}
    <form method="GET">
        <section class="form">
            {{ form }}
        </section>
    {% endif %}
    <input type="submit" value="Apply">
    </form>
</section>

<section class="cards">
    {% for product in products %}
        {% if product.is_published %}
            <div class="card">
                {% if product.image %}
                    <img src="{{ product.image.url }}">
                {% endif %}
                <div class="content">
                    <div class="headline">
                        <a href="{% url 'product_detail' product.slug %}">{{product.brand}} {{product.model}}</a>
                    </div>
                    <div class="text">
                        <p>{{ product.description | truncatewords:15 }}</p>
                    </div>
                    <div class="price">
                        {% if product.sale %}
                            <p class="new-price">{{ product.sale }} ₽</p>
                            <s class="old-price">{{ product.price }} ₽</s>
                        {%  else %}
                            <p>{{ product.price }} ₽</p>
                        {% endif %}
                    </div>
        <!--            <div class="button"></div>-->
                </div>
            </div>
        {% endif %}
    {% endfor %}
</section>

{% endblock %}