{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Магазин</title>
{% endblock %}

{% block extra_links %}
<link rel="stylesheet" href="{% static 'css/product_card.css' %}">
{% endblock %}

{% block content %}
{#{% if form %}#}
{#    <section class="form">#}
{#        {{ form }}#}
{#    </section>#}
{#{% endif %}#}

<section class="categories">
    <div class="headline" id="category_head">
        Категории
    </div>
    <div class="cat_data">
        {% for cat in categories %}
            {% if forloop.first %}
                <a href="{% url 'base_store' %}">
                    <div class="category_block">
                        Все
                    </div>
                </a>
            {% endif %}
            <a href="{% url 'cat_store' cat.id %}">
                <div class="category_block">
                    {{ cat.category_name }}
                </div>
            </a>
        {% endfor %}
    </div>
</section>

<div>
    <div class="filters">
        <span class="material-symbols-rounded">filter_list</span>
    </div>
    <section class="left-side-bar">
    {#    <div class="headline" id="category_head">#}
    {#        Фильтр#}
    {#    </div>#}

        {% if form %}
        <form method="GET">
        {% for f in form %}
                {% if f.name == 'price_min' %}
                    <div class="item">
                        <div class="label" id="price">
                            Цена:
                        </div>
                        <div class="price-field">
                            {{ form.price_min }} {{ form.price_max }}
                        </div>
                    </div>
                {% elif f.name == 'price_max' %}
                {% else %}
                    <div class="item">
                        <div class="label">
                            {{ f.label_tag }}
                        </div>
                        <div class="drop-down-data">
                            {{ f }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="buttons">
            <input class="my-button" type="submit" value="Применить">
            <input class="my-button" id="dismiss" type="submit" name="dismiss" value="Сбросить">
        </div>
        </form>
    </section>

    <section class="cards">
        {% if products %}
            {% for product in products %}
                {% if product.is_published %}
                    <div class="card">
                        <div class="product-image">
                            {% if product.image %}
                                <img src="{{ product.image.url }}">
                            {% endif %}
                        </div>
                        <div class="content">
                            <div class="headline">
                                <a href="{% url 'product_detail' product.slug %}">{{product.brand}} {{product.model}}</a>
                            </div>
                            <div class="text">
                                <p>{{ product.description | truncatewords:15 }}</p>
                            </div>
                            <div class="bottom-data">
                                <div>
                                    <a href="javascript:PopUpShow('{{product.brand}} {{product.model}}')">Заказать</a>
                                </div>
                                <div class="price">
                                    {% if product.sale %}
                                        <p class="new-price">{{ product.sale }} ₽</p>
                                        <s class="old-price">{{ product.price }} ₽</s>
                                    {%  else %}
                                        <p>{{ product.price }} ₽</p>
                                    {% endif %}
                                </div>
                            </div>
                <!--            <div class="button"></div>-->
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div>Нет совпадений</div>
        {% endif %}
</section>
</div>
{% endblock %}